<style>
ul {list-style: none;margin: 5px 0 0 5px;padding: 0;}
</style>
<script>
function getVersion(pageId,versionId) {
 $.getJSON('/admin/pages/'+pageId+'/version?version='+versionId, function(data) {
   $("#body_text").val(data.page.body);
 });
}
</script>

<table class="admin-report" width="545">
  <tr>
    <td valign="top"><%=t("ext_static_content_title")%>:</td>
    <td><%= f.text_field :title, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_slug")%>:</td>
    <td><%= f.text_field :slug, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top">Sidebar:</td>
    <td><%= f.select :sidebar_type, options_for_select(["None", "none"], ["Fabrics & Trim", "fabricstrim"], ["Furniture", "furniture"], ["Duralee Contract", "contract"]] , :selected => @page.sidebar_type || 'none') %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_body")%>:
    <ul>
      <li><b>Prev Versions</b></li>
      <% @page.versions.each do |v| %>
        <li><a href="#" onclick="getVersion(<%= @page.id %>,<%= v.version %>);"><%= v.version %></a></li>
      <% end %>
    </ul>
    </td>
    <td><%= f.text_area :body, {"style" => "width:500px", "id" => "body_text", "class"=> "wymeditor"} %> </td>
  </tr>
<!--
  <tr>
    <td valign="top"><%=t("ext_static_content_foreign_link")%>:</td>
    <td><%= f.text_field :foreign_link, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_visible")%>:</td>
    <td><%= f.check_box :visible %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_layout")%>:</td>
    <td><%= f.text_field :layout %></td>
  </tr>
-->
  <tr>
    <td valign="top"><%=t("ext_static_content_meta_keywords")%>:</td>
    <td><%= f.text_field :meta_keywords, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_static_content_meta_description")%>:</td>
    <td><%= f.text_field :meta_description, {"style" => "width:500px"} %></td>
  </tr>
</table>

<script type="text/javascript">
  function loadEditor(id,config)
{
    var instance = CKEDITOR.instances[id];
    if(instance)
    {
        CKEDITOR.remove(instance);
    }
    $(id).ckeditor(function() {/* callback code */ },config);

}
     config = {
  skin : 'kama',
    toolbar: [['Format', 'TextColor'],['Bold','Italic','Underline','SpecialChar','-','NumberedList','BulletedList','-','Indent','Outdent','-','Link','Unlink','-','Image'],['Cut','Copy','Paste','PasteText','PasteFromWord','-','Source']],
    width:'600px',
    height:'400px'
//      contentsCss : '/stylesheets/cke_designer.css'
   }

     loadEditor('#body_text',config);
</script>

