<%= render "shared/page_sidebar" %>


<div id="main-content" class="content-page">
	<%= render 'shared/advsearch' %>
	
  <% cache("static#{@page.slug}") do %>
  	<div id="breadcrumbs">
  	  <% add_crumb "Home", "/" %>
	    <% add_crumb @page.title %>
    </div>
    
    <h1><%= @page.title %></h1>
    <%= render :inline => @page.body -%>
  <% end %>
</div><!-- #main-content -->

<%= content_for :head do -%>
  <meta name="title" content="<%=@page.title%>">
  <% if @page.attribute_present? :meta_keywords -%>
    <meta name="keywords" content="<%=@page.meta_keywords%>">
  <% end -%>
  <% if @page.attribute_present? :meta_description -%>
    <meta name="description" content="<%=@page.meta_description%>">
  <% end -%>
<% end %>

<%= content_for :title do %><%= @page.title %><% end %>

<%= content_for :og_desc do %>
<meta property="og:description" content="<%= raw shorten(@page.body) %>" />
<% end %>
