<%= content_for :head do -%>
  <meta name="title" content="<%=@page.title%>">
  <% if @page.attribute_present? :meta_keywords -%>
    <meta name="keywords" content="<%=@page.meta_keywords%>">
  <% end -%>
  <% if @page.attribute_present? :meta_description -%>
    <meta name="description" content="<%=@page.meta_description%>">
  <% end -%>
<% end -%>

<%= content_for :sidebar do %>&nbsp;<% end %>

<%= content_for :main_content do %>
  <% cache("static#{@page.slug}") do %>
    <% add_crumb "Home", "/" %>
    <% add_crumb @page.title %>
    <h1><%= @page.title %></h1>
    <%= render :inline => @page.body -%>
  <% end %>
<% end %>

<%= content_for :title do %><%= @page.title %><% end %>

<%= content_for :og_desc do %>
<meta property="og:description" content="<%= raw shorten(@page.body) %>" />
<% end %>
